p {
    color: white;
}

main {
    margin-top: 40px;
    display: table;
}

p {
    position: relative;
    width: 90%;
    left: 5%;
    font-size: max(1.1vw, 15px);
}

h2 {
    color: white;
    display: block;
}

.name {
    text-align: center;
    font-size: max(1.6vw, 22px);
    margin-bottom: 30px;
    font-weight: 900;
}

#toTop {
    z-index: 3;
    width: 5vw;
    height: 5vw;
    background-color: #FFE6A8;
    bottom: 30px;
    cursor: pointer;
    display: none;
    border-radius: 50%;
    position: fixed;
}

#toTop svg {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
}

#toTop.active {
    visibility: hidden;
}

footer {
    margin-top: 60px;
}