<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Project</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="stylesheet" th:href="@{/css/text.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
  <script th:src="@{/js/text.js}"></script>

  <img class="back" th:src="@{/image/background.jpg}">
  <div th:insert="blocks/header :: header"></div>

  <main id="main">
    <p class="name">ПРАВО В РУССКОМ ЦАРСТВЕ</p>
    <p id="text">
      &emsp;&emsp;В 1497 году в правление Ивана III был принят первый законодательный кодекс Российского государства —
      Судебник. Судебник 1497 года основывался на предшествующем законодательстве. Источниками этого
      нормативно-правового акта явились:<br>
      &emsp;&emsp;Русская правда и её редакции, Псковская судная грамота, Уставные грамоты — нормативные документы,
      издаваемые верховной властью по вопросам местного управления, Судные грамоты — постановления о
      судоустройстве, даруемые отдельным местностям и содержащие, кроме того, некоторые нормы
      гражданского и уголовного права, Судебные решения по отдельным вопросам.<br>
      &emsp;&emsp;В Судебнике 1497 года, как и в любом феодальном своде законов, нормы права излагались без чёткой
      системы, казуально (то есть на каждый случай, вдаваясь в частности), открыто определяли привилегии
      господствующего слоя населения. Однако уже наметилась определённая систематизация материала, чего не
      знали предшествующие законы. В 1550 году, во время царствования Ивана IV Грозного был принят новый
      судебник. Он уничтожил судебные привилегии удельных князей и усилил роль центральных
      государственных судебных органов. В 1649 году при царе Алексее Михайловиче было принято Соборное
      Уложение. Интенсивный рост числа указов за период от Судебника 1550 года до Уложения 1649 года виден
      из следующих данных:<br>
      &emsp;&emsp;1550—1600 гг. — 80 указов;<br>
      &emsp;&emsp;1601—1610 гг. −17;<br>
      &emsp;&emsp;1611—1620 гг. — 97;<br>
      &emsp;&emsp;1621—1630 гг. — 90;<br>
      &emsp;&emsp;1631—1640 гг. — 98;<br>
      &emsp;&emsp;1641—1648 гг. — 63 указа.<br>
      Всего за 1611—1648 гг. — 348, а за 1550—1648 гг. — 445 указов. В итоге к 1649 году в Российском
      государстве существовало огромное количество законодательных актов, которые не только устарели, но и
      противоречили друг другу. К принятию Уложения подтолкнул и вспыхнувший в 1648 году в Москве
      Соляной бунт; одним из требований восставших был созыв Земского Собора и разработка нового уложения.
      Его источниками были правила святых апостолов и святых отцов, византийские градские законы, прежние
      государевы указы и боярские приговоры, сличенные со старыми судебниками; новые же правила, не
      предусмотренные старыми указами, велено составить по «общему совету». По объему, богатству
      содержания и системе Уложение далеко превзошло Судебники. Оно состоит из 25 глав и 967 статей и было
      первым в России печатным сборником законов. Однако оно далеко не обнимало всех норм права. В
      дополнение его частей издавались новые указы, так называемые новоуказные статьи, чтобы искоренить
      «злодейства, превзошедшие в обычаи», по примеру «всех государств окрестных» и даже «по новым
      еуропским обычаям».<br>
      &emsp;&emsp;В качестве основного законодательного акта Московского государства XIV—XV вв. продолжала
      действовать Русская Правда, точнее, Сокращенная Русская Правда, приспособившая древнерусское право к
      новым условиям. В отдельных местах продолжало действовать обычное право. В целях централизации
      государства, подчинения местной власти московскому князю издавались уставные грамоты
      наместнического управления. Эти правовые акты не только регламентировали деятельность чиновников, но
      и ограничивали в какой-то мере их произвол. Наиболее ранними уставными грамотами были Двинская (1397
      или 1398 г.) и Белозерская (1488 г.). Памятником финансового права является Белозерская таможенная
      грамота 1497 г., предусматривавшая откупной порядок взимания таможенных пошлин. Развитие
      феодальных отношений, образование централизованного государства объективно требовали правовой
      реформы, создания новой, единой правовой системы. Ярким проявлением такой реформы стал Судебник
      Ивана III, изданный в 1497 г. Судебник закрепил новые общественные порядки, введенные властью в стране
      со времен Русской Правды, внес единообразие в судебную практику Русского централизованного
      государства. В угоду мелким и средним феодалам, новым социальным группам Судебник установил также
      некоторые ограничения в деятельности чиновников на местах кормленщиков. Согласно ст. 43 наместники и
      волостели лишались права решать наиболее важные дела: «Наместником и волостелем, которые дрьжать
      кормление без боярьского суда, и тиуном великого князя и боярьскым тиуном, за которыми кормлениа с
      судом з боярьским, холопа и робы без локлада не вы-дати и отпусные не дати; а татя и душегубца не
      пустити и всякого лихого человека без докладу не продати, ни казнити, ни отпустити». Основное
      содержание Судебника составляют нормы уголовного и уголовно-процессуального права. Изданный в 1497
      г. Судебник Ивана III устанавливал единые по всей стране нормы уголовной ответственности. Он
      унифицировал судебную власть, под юрисдикцию которой подпадали все подданные Русского государства.
      Источниками Судебника 1497 г. явились Русская Правда, Новгородская и Псковская судные грамоты,
      уставные грамоты и другое текущее законодательство московских князей. Судебник Ивана III не просто
      обобщил накопившийся правовой материал, но и установил новые правовые нормы: многие статьи были
      написаны заново, а старые нормы получили новую редакцию. Тот факт, что из 68 статей Судебника только
      27 составлены на основе предшествующих юридических документов, позволяет сделать вывод о
      преобладании в нем новых правовых актов. Интересна ст. 30 Судебника, определившая пошлины,
      получаемые судебным приставом за исполнение им своих обязанностей. Она приводила перечень всех
      основных городов и местностей Русского государства того времени, подчеркивая действие статей
      Судебника на всей его территории. Статья 67 Судебника впервые установила порядок объявления
      княжеских указов: «...да велети прокликать по торгом на Москве и во всех городех Московские земли и
      Новгородские земли и по всем волостем...». Как уже указывалось, Судебник 1497 г. положил начало
      всеобщему закрепощению крестьян, введя повсеместно Юрьев день (ст. 57). Большая часть Судебника
      содержала нормы уголовного права, уголовного процесса, регулировала вопросы судоустройства, отразив
      существенные изменения в карательной политике государства. Судебник 1497 г. — типичный кодекс
      феодального права. Нормы права излагались в нем без четкой системы, казуально, открыто определяли
      привилегии господствующего класса, неравное положение зависимых сословий. Так, вводилось понятие
      «добрых» и «лихих» людей. «А на кого взмолвят детей боярских человек пять или шесть добрых, по
      великого князя по крестному целованию, или черных человекь пять-шесть добрых христиан целовальников,
      что он тать, а довода на него в прежнем деле не будет, у кого крал или кому татьбу плачивал, ино на том
      взятии исцеву гыбель без суда», — говорит ст. 12. Судебник трактовал понятие преступления отлично от
      Русской Правды, но в принципе тождественно Псковской судной грамоте. Под преступлением понимаются
      всякие действия, которые так или иначе угрожают государству или господствующему классу в целом и
      поэтому запрещаются законом. В отличие от ПСГ Судебник 1497 г. дает термин для обозначения
      преступления. Оно теперь именуется «лихим делом». Развитие феодализма нашло свое отражение в
      некотором изменении взгляда на субъект преступления. Судебник рассматривал холопа уже как человека и
      в отличие от Русской Правды считал его способным самостоятельно отвечать за свои проступки и
      преступления. В соответствии с изменением понятия преступления усложнялась и система преступлений.
      Так, Судебник 1497 г. вводит преступления, не известные Русской Правде и лишь намеченные в Псковской
      судной грамоте, — государственные преступления. Судебник отмечал два таких преступления — крамолу и
      подым. Под крамолой понималось деяние, совершаемое преимущественно представителями
      господствующего класса. Именно как крамолу стали рассматривать великие князья отъезд бояр к другому
      князю. Тверской летописец, например, называет крамольниками князей и бояр, отъехавших в 1485 г. из
      Твери к московскому великому князю. Понятие «подым» является спорным. Можно предполагать, что
      подымщиками называли людей, поднимающих народ на восстание. Мерой наказания за государственные
      преступления являлась сметная казнь. Закон предусматривал развитую систему имущественных
      преступлений. К ним относятся разбой, татьба, истребление и повреждение чужого имущества. Все эти
      преступления, подрывавшие основу благосостояния феодального общества — собственность, также жестоко
      наказывались. Причем вор, который совершал кражу имущества повторно, карался смертной казнью (ст.
      11). Судебник знал преступления против личности: убийство (душегубство), оскорбление действием и
      словом. Изменяются цели, а с ними и система наказаний. Если прежде князья видели в наказаниях — вире и
      продаже — одну из доходных статей, существенно пополнявших казну, то теперь на первый план выступает
      другой интерес. Господствующий класс стал применять репрессивные методы борьбы с сопротивлением
      эксплуатируемых масс. Соответственно в наказании на первое место выступила цель устрашения, как
      самого преступника, так и главным образом других людей. Если раньше господствовали имущественные
      наказания, то теперь они отошли на задний план. Судебник ввел новые по сравнению с Русской Правдой
      наказания — смертную и торговую казнь, причем эти меры применялись за большинство преступлений.
      Закон не конкретизировал виды смертной казни. На практике они были весьма разнообразны: повешение,
      отсечение головы, утопление и др. Торговая казнь состояла в битье кнутом на торговой площади и часто
      влекла за собой смерть наказываемого. Судебник, как и Русская Правда, знает продажу, но она теперь
      применяется редко и обычно в сочетании со смертной или торговой казнью. Помимо указанных в
      Судебнике практика знала и такие меры наказания, как лишение свободы и членовредительство
      (ослепление, отрезание языка). Новацией в уголовном праве было введение наказания за
      лжесвидетельствование, а также запрещение обещать судьям взятки (ст. 67). На основе Судебника 1497 г.
      совершенствовалось процессуальное право. Процесс характеризовался развитием старой формы, т. е.
      состязательного процесса, и появлением новой — розыска. Такая форма судебного процесса, как розыск,
      применялась при рассмотрении уголовных дел. Розыскной (следственный или инквизиционный) процесс
      применялся при рассмотрении наиболее серьезных уголовных дел, в том числе по политическим,
      государственным преступлениям. Его введение было обусловлено стремлением не столько найти истину,
      сколько быстро и жестоко расправиться с «лихими» людьми. Розыск отличался от состязательного процесса
      тем, что суд сам возбуждал, вел и завершал дело по собственной инициативе и исключительно по своему
      усмотрению. Подсудимый был скорее объектом процесса, нежели его участником. Главным способом
      выяснения истины при розыске являлась пытка. Доказательством вины служило признание самого
      обвиняемого. При состязательном процессе дело начиналось по жалобе заявителя, которая называлась
      челобитной. По получении челобитной судебный орган принимал меры к доставке ответчика в суд. Явка
      ответчика обеспечивалась поручителями. Если ответчик каким-либо образом уклонялся от суда, то он
      проигрывал дело даже без разбирательства. Истцу в таком случае на восьмой день выдавалась так
      называемая бессудная грамота. Неявка истца в суд означала прекращение дела. Несколько изменилась и
      система доказательств в суде. В качестве доказательств стали применятся разного рода документы:
      договорные акты, официальные грамоты. Доказательством по-прежнему считалась присяга. В отличие от
      Русской Правды Судебник не различает послухов и видоков, именуя всех послухами. Послухами теперь
      могли быть и холопы. Доказательством признавалось и «поле» — судебный поединок. Победивший в
      единоборстве считался правым и выигрывал дело. Проигравшим в деле признавался не явившийся на
      поединок или сбежавший с него. На «поле» можно было выставлять наемного бойца. В XV в. применение
      «силового поединка» все больше ограничивалось и в XVI в. постепенно исчезло. Обращение в феодальный
      суд было весьма дорогим удовольствием. Стороны облагались различными пошлинами. Так, по Судебнику
      1497 г. нужно было платить судье-боярину 6 % от цены иска. Кроме того, полагалось заплатить 4 копейки с
      рубля дьяку. Существовали специальные полевые пошлины. Они платились даже в том случае, если
      стороны помирились и отказались от судебного поединка. Если же «поле» состоялось, то пошлины
      уплачивались кроме боярина и дьяка еще и специальным должностным лицам, организующим поединок. В
      некоторых случаях, предусмотренных Судебником 1497 г., часть имущества подсудимого после возмещения
      вреда истцу передавалась в собственность судье. Судебник впервые ввел норму о неправомерном
      разбирательстве дела в суде. Решение, вынесенное судьей без надлежащего разбора дела, в суде
      признавалось недействительным, а ответчику возвращалось все взысканное с него. При этом судьи
      ответственности не несли, а истец мог передать дело в суд на новое рассмотрение (ст. 19). Основной
      инстанцией, которая вела дела о преступлениях против церкви и семьи, являлся церковный суд. Решения
      церковного суда светским судом не пересматривались. Семейное право сохраняло признаки обычного
      права, но включало в себя элементы церковного права. Так, юридические последствия мог иметь только
      церковный брак (венчание). Никакие другие браки законом не признавались. Судебник 1497 г. устанавливал
      общность имущества супругов, запрещая мужу распоряжаться приданным жены без ее согласия. На основе
      Судебника 1497 г. совершенствовались гражданско-правовые отношения. Субъектами гражданского права
      были как частные (физические) лица, так и коллективные лица (купеческие гости, сотни, семья: муж и
      жена). Основными способами приобретения вещных прав считались захват, давность, находка, договор и
      пожалование.<br>
      Пожалование земли включало целый ряд юридических действий:<br>
      &emsp;&emsp;• выдачу жалованной грамоты;<br>
      &emsp;&emsp;• запись в приказной книге;<br>
      &emsp;&emsp;• «обыск», своего рода опись.<br>
      Договоры — самый распространенный способ приобретения вещных прав. Широкое распространение
      получает письменная форма сделок (кабала), которая постепенно вытесняет свидетельские показания.
      Крепостная («нотариальная») форма сделок преобладала в доказательствах. Впервые в законодательство
      того времени была введена норма, защищавшая добросовестного приобретателя вещи. «А кто купит на
      торгу что ново, опроче лошади, — говорит ст. 46 Судебника 1497 г., — а у кого купит, не зная его, а будет
      людем добрым двема или трем ведомо и поимаются у него, и те люди добрые скажут по праву, что перед
      ними купил в торгу, ино тот прав, у кого поймались и целования ему нет». Изъятие из этой нормы лошади,
      по-видимому, было сделано с целью не поощрять конокрадство, затруднить ворам продажу лошадей на
      рынке и ярмарках. Наличие двух-трех свидетелей подтверждало права на вещь добросовестного
      приобретателя. При отсутствии свидетелей право владения спорной вещью устанавливалось судом.<br>
      Основными формами земельной собственности были:<br>
      &emsp;&emsp;• вотчина (наследуемое по отцу землевладение);<br>
      &emsp;&emsp;• поместье (условное землевладение, на время службы).<br>
      Вотчины подразделялись по видам субъектов права:<br>
      &emsp;&emsp;• на дворцовые,<br>
      &emsp;&emsp;• государственные,<br>
      &emsp;&emsp;• частновладельческие,<br>
      &emsp;&emsp;• церковные.<br>
      По способам приобретения вотчины подразделялись:<br>
      &emsp;&emsp;• на родовые;<br>
      &emsp;&emsp;• выслуженные;<br>
      &emsp;&emsp;• купленные.<br>
      Для родовых общин устанавливался особый порядок приобретения и отчуждения вотчин. На это
      требовалось согласие всего рода. Родовая община играла важную роль в распределении «крестьянских
      земель». Она определяла предельные размеры земельных участков, распределяла налоговую и иную
      повинность за пользование землей, могла стать наследницей имущества, контролировала договорные
      обязательства членов общины. Для купленных вотчин устанавливалось, что их собственниками являлись
      одновременно муж и жена, так как предполагалось, что вотчина приобреталась супругами совместно на их
      общие средства. Поместные наделы жаловались государем за службу из княжеских (дворцовых земель).
      Объектом поместного землевладения являлись не только пахотные земли, но и рыбные озера и пруды,
      охотничьи угодья, городские дворы. Судебник 1497 г. законодательно защищал права собственников на
      землю, устанавливал меры наказания тем, кто посягнет на частную собственность. Так Судебник в ст. 62
      определял: «О МЕЖАХ. А кто сореть межу или грани ссечет из великого князя земли боярина и манастыря,
      или боярской и монастырской у великого князя земли, или бярской и монастырской у боярина, или боярской
      у монастыря, и кто межу сорал или грани ссек, ино того бити книтием, да исцу взятии на нем рубль. А
      христиане промежу себя в одной волости или в селе кто у кого межу переорет или перекосит, ино
      волостелем или поселскому имати на том за боран по два алтына и за рану присудят, посмотря по человеку
      и по ране и по рассужде-ни». В сфере наследственного права возникает тенденция к постепенному
      расширению круга наследников. Хотя женщины и не могли наследовать поместья, но завещание на
      имущество мог сделать любой член семьи. После смерти муже вдова владела всем имуществом, совместно
      нажитым в браке, до тех пор, пока наследники мужа не выплатят ей стоимость приданого. Определенной
      новацией стало изменение условий наследования по закону. «А который человек умрет без духовные
      грамоты, а не будет у него сына, ин остаток весь и земли дочери; а не будет у него дочери, ино взятии
      ближнему от его рода», — устанавливалось в ст. 60 Судебника 1497 г. В наследовании земли и имущества
      родителей участвовали не все сыновья, а только те, кто оставался в доме отца и его хозяйстве на момент
      смерти главы семьи. При наличии сыновей дочери устранялись от наследования недвижимости.
      Существенно дополнил и развил действовавшее законодательство Судебник Ивана Грозного, изданный в
      1550 г. Этот свод законов, получивший название «Царский Судебник», представлял собой новую редакцию
      Судебника 1497 г. В нем были отражены изменения в русском законодательстве за прошедшие полвека.
      Судебник был утвержден во время реформ Ивана Грозного и служил правовой основой их проведения в
      1550-е гг. он состоял из 100 статей и по разнообразию регулируемых ситуаций и отраженных в нем
      правовых институтов превосходил Судебник 1497 г. Подробнее и обстоятельнее в нем были
      регламентированы отношения дворян и крестьян. Он был направлен на достижение общегосударственной
      стабильности правовыми методами после полосы межсословных разногласий в период малолетства Ивана
      IV. О значении закрепленных в нем принципов свидетельствует тот факт, что в момент учреждения
      опричнины царь настойчиво добивался не принимать их во внимание, желая развязать себе руки при
      переходе к террору против противников усиления царской власти. После смерти Ивана Грозного
      господствующие классы России стремились восстановить правовые принципы, закрепленные в Судебнике
      1550 г. Нововведения Судебника 1550 г. состояли в следующем. Запрещалась выдача тарханных грамот,
      которые освобождали от уплаты налогов. Вводился принцип права: «закон обратной силы не имеет».
      Устанавливались уголовные наказания для судей за злоупотребление властью, несправедливые приговоры и
      за отказ в правосудии. Умышленное искажение решений суда, занесение в бессудную грамоту неправильной
      записи влекли за собой тюремное заключение. Вводился сословный принцип наказаний. За оскорбление,
      например, дворян, купцов уголовная ответственность устанавливалась значительно выше, чем за
      оскорбление крестьянина. За «бесчестие» купца взимался штраф до 5 рублей, а за оскорбление «словом и
      делом» крестьянина брался всего 1 рубль. Судебник запрещал обращать в холопы детей боярских служилых
      независимо от состава преступления. В состав субъектов преступления включались холопы. Вводилось
      тюремное заключение за преступления, чего не было в предыдущем законодательстве. Появились новые
      составы преступлений, связанные с мошенничеством и подлогом судебных актов. Вводилось обязательное
      протоколирование судебного заседания, регистрация судебных решений, выдача письменного вердикта
      суда. В процессуальном праве отменялся суд великого князя, ст. 1 заменяла его судом бояр и окольничих.
      Судебник вводил две судебные инстанции. Суды низшей инстанции заседали в уездных городах под
      председательством наместников, а в волостях — суды волостей и тиунов. Суд высшей инстанции проходил
      под председательством боярина в присутствии окольничих, дворецких, казначеев и приказчиков (своего
      рода присяжных заседателей). Решения судов первой инстанции можно было обжаловать в судах второй
      (апелляционной) инстанции: в Боярской думе и у царя, которые были вправе пересматривать решения
      нижестоящих судов. Судебное заседание могло теперь начинаться не только по челобитной истца, но и по
      инициативе государства. Важное дополнение в семейно-брачное право после Судебников 1497 и 1550 г.
      внес Стоглав — сборник постановлений церковно-земского собора, состоявшегося в 1551 г под
      председательством Ивана Грозного. Название «Стоглав» утвердилось за этим сборником лишь с конца XVII
      в. В самом же тексте памятника упоминаются и иные наименования: или соборное уложение, или царское и
      святительское уложение (гл. 99). Почти все списки открываются оглавлением или сказанием главам, где в
      качестве заглавия первой главы значатся слова, которые отражают содержание всего документа: Царские
      вопросы и соборные ответы о многоразличных церковных чинех. Заглавие к первой главе служит в реде
      списков наименованием всего документа. Этот итоговый документ, составленный на соборе 1551 г. был при
      редактировании разбит на 100 глав, вероятно, в подражание царскому Судебнику 1550 г. Отсюда и название
      «Стоглавник», впервые упомянутое в приписке к одному из списков памятника конца XVI в. С XVII в. стала
      употребляться более короткая форма этого слова — Стоглав. Поэтому и сам собор 1551 г. получил в
      исторической литературе наименование Стоглавого. Разделение документа на 100 глав было, по мнению
      историка русской церкви Е. Е. Голубинского, неслучайно: поступая так, редактор Стоглава стремился
      предохранить книгу от произвольного сокращения последующими переписчиками, от пропусков ими
      несущественных, с их точки зрения, глав. Деление на 100 глав весьма условно. Так же условно и название
      памятника, тем более что многие списки оканчиваются не 100-й, а 101-й главой, которая содержит приговор
      царя со священным собором о вотчинах, датированный 11 мая 7059 г. от сотворения мира (1551 г. н. э.). Эта
      дата рассматривается исследователями или как дата завершения обработки материалов Собора, в результате
      чего возник Стоглав, или как дата закрытия собора. Более ста лет Стоглав рассматривался как сборник
      постановлений непререкаемой авторитетности. Но отношение к нему резко изменилось после «большого»
      Московского церковного собора 1666— 1667 гг. На нем были осуждены некоторые догматы, утвержденные
      Стоглавым собором (о двуперстном крестном знамении, о сугубой аллилуйе, о брадобритии и др.). На
      Московском соборе было признано, что положения Стоглавого собора были написаны «неразсуд-но,
      простотою и невежеством». Вслед за этим стала подвергаться сомнениям подлинность Стоглава, а тем
      самым и его значение как законодательного акта. Стоглав стал предметом жарких споров между
      раскольниками-старообрядцами, которые возвели в ранг незыблемого закона постановления Стоглавого
      собора, и представителями ортодоксальной, официальной церкви, которые осудили Стоглав как плод
      заблуждения. Членам Стоглавого собора были предъявлены обвинения в невежестве, и, чтобы смыть с них
      позор, была выдвинута даже версия непричастности собора 1551 г. к Стоглаву. Первая попытка
      охарактеризовать Стоглав с позиции ортодоксальной церкви была предпринята феофилактом Лопатинским
      в его работе «обличение неправды раскольническия». Общее мнение о Стоглаве и Стоглавом соборе было
      выражено этим автором витиевато и безапелляционно: «Собор сей, не токмо стоглавым, но и единоглавым
      не достоин нарещися, понеже... основан на единых баснех». Уничтожающая критика участников Стоглавого
      собора и его деятельности содержится и в работе архиепископа Никифора Феотоки. Большинство
      участников собора из числа духовенства обвиняются им в невежестве. Стиль изложения Стоглава
      представляется автору чересчур простонародным и многословным. Собственно научное изучение Стоглава
      светскими авторами начинается в дореволюционной историографии под влиянием общего внимания к
      деятельности Земских соборов на Руси. Внимание это было связано с исторически обострившимся
      интересом в XIX в. к сословно-представительным учреждениям. Появляются и работы, всецело
      посвященные Стоглаву. Одними из первых были статьи И. В. Беляева и П. А. Безсонова об этом памятнике.
      И. В. Беляев в противовес предшествующим авторам высоко оценивал стиль и язык документа, отмечал
      одновременно и его простоту, и примеры ораторского витийства при изложении речей Грозного. Он обратил
      внимание на то, что «как собрание данных для изображения разных сторон русского быта XVI века Стоглав
      — памятник, ничем незаменимый». Столь же высокое мнение о достоинствах Стоглава выразил и П. А.
      Безсонов. Он подчеркивал, что в Стоглаве «затронуты все вопросы века, обрисовано все положение церкви в
      ее внутреннем устройстве, во всех сношениях и столкновениях с силою общества остального, с властью
      государства». А. А. Зимин продолжил исследование Стоглава как памятника русской публицистики XVI в.
      Автор разобрал политические взгляды участников собора. В отличие от И. У. Будовница, он выделяет
      Сильвестра как политического деятеля, который готовил материалы для собора, в частности царские
      вопросы, и стоял за спиной царя, направляя его действия. А. А. Зимин рассматривает Стоглав как одно из
      звеньев в общей цепи реформ Ивана IV. Положение это получило развитие в вышедшей в 1960 г.
      монографии А. А. Зимина «Реформы Ивана Грозного». В данной работе автор так же, как и в предыдущей,
      считает решение собора 1551 г. компромиссом между иосифлянским большинством собора и
      нестяжательским окружением царя, отмечая при этом, что «основная масса решений Стоглава проводила в
      жизнь иосифлянскую программу», причем программа секуляризации церковных земель потерпела полный
      провал. Одно из основных мест в содержании Стоглава занимают вопросы судоустройства, организации
      церковного суда. В литературе отмечалось, что Стоглав впервые дает возможность составить представление
      об устройстве епархиальных судов в средневековой России и судопроизводстве в них. Действительно, с
      появлением Стоглава связана четкая регламентация устройства церковного суда, его юрисдикции,
      судопроизводства и т. д. Здесь особенно ясно видно, что постановления о церковных судах тесно связаны с
      общей судебной реформой Ивана Грозного. О значении постановлений собора о церковном суде можно
      судить по тому, как они излагались в наказных списках Соборного уложения 1551 г.: ввиду их особой
      важности эти постановления помещались в самом начале списков. Несмотря на то, что Стоглав был осужден
      и отменен Московским собором 1666—1667 гг., патриарх Адриан руководствовался постановлениями
      Стоглава о святительском суде даже после собора 1666—1667 гг. до 1701 г. Только с изданием Духовного
      регламента (1720 г.) Стоглав потерял значение для русской православной церкви. Стоглав —
      многоплановый памятник права. Как и другие памятники канонического права, он регулировал жизнь не
      только церковных людей, но и мирян. Регулирование брачно-семейных отношений целиком осуществлялось
      церковным правом. Многие главы Стоглава посвящены регламентации именно этой сферы общественных
      отношений. Для заключения брака, по Стоглаву, требовалось согласие родителей или опекунов. Брачный
      возраст устанавливался для мужчин — 15 лет; а для женщин 12 лет. Стоглав практически сохранил
      требования к брачному возрасту, установленные ранее в Русской Правде. Помимо согласия на брак
      требовалась «венечная память», т. е. разрешение на брак священнослужителя — архиерея. Венчание
      проводилось приходским священником. Развод допускался в исключительных случаях. Поводы к разводу,
      которые были установлены ранее, значительно сокращены.<br>
      По Стоглаву прекращение брака было возможно в случаях:<br>
      &emsp;&emsp;• физической смерти; прелюбодеяния — главного повода для развода; применялось только мужем по отношению к жене;<br>
      &emsp;&emsp;• длительность отсутствия одного из супругов;<br>
      &emsp;&emsp;• неспособность мужа к супружеской жизни или бесплодие жены;<br>
      &emsp;&emsp;• длительной и тяжелой болезни супруга;<br>
      &emsp;&emsp;• пострижения одного из супругов в монахи.<br>
      Осуждение за преступление не прекращало брака. Жена и дети в этом случае несли ответственность
      совместно с мужем. Главный принцип семейных отношений — безраздельная власть мужа над женой и
      родителей над детьми. Жена всегда следовала судьбе мужа: муж был вправе «закладывать» ее (т. е. отдавать
      в заклад) и передавать по служилой кабале в «работу на прокорм». Муж имел право наказывать жену, если
      эти наказания не превращались в членовредительство. Родители были вправе распоряжаться брачной
      судьбой своих детей, решать вопрос об их пострижении в монахи, передаче в холопство. Уже в то время
      действовала опека над малолетними детьми. Опекунами могли быть только родственники мужа, поэтому
      вдова, остающаяся с детьми, не могла быть опекуншей. Власть опекуна над детьми продолжалась до их
      совершеннолетия. Имущественные права супругов были равными. Но муж, как отмечалось выше, не мог
      распоряжаться приданным жены без ее согласия. Супруги по долгам отвечали не только общим
      имуществом, но и собственным имуществом в случае смерти одного из них. В Стоглаве представлены яркие
      картины из жизни русского народа, его обычаи, уходящие корнями в дохристианскую эпоху. Борьба с
      волхвами, чародеями, кудесниками, огнепоклонниками, лжепророками отражается только в памятниках
      церковного права, составляющих значительную часть правовой системы Русского государства. Без Стоглава
      представление об образе жизни русских людей XVI в. было бы неполным. Кроме Царского Судебника и
      Стоглава важными источниками права были жалованные и уставные грамоты. Жалованная грамота являлась
      правоустанавливающим актом, по которому церковным учреждениям, монастырям, отдельным лицам и т. д.
      предоставлялись определенные гарантии и компенсации, исключительные права, связанные с управлением
      и иными полномочиями. Так, жалованная грамота нижегородского князя Александра Ивановича
      Благовещенскому монастырю (1418 г.) вместе с земельным пожалованием передает ему ряд
      административных функций: сбора дани, налогов от продажи скота, за пользование причалами, получение
      торговых пошлин. Согласно грамоте к монастырю переходило право суда по всем отраслям права, а не
      только по семейно-брачным делам. Исключение из монастырской юрисдикции составляли дела по тяжким
      преступлениям. Вместе с привилегиями князь ограничивал право перехода жителей его княжества на
      монастырские земли. За нарушение правовых положений грамоты определялась мера наказания — торговая
      казнь.<br>
      Жалованные грамоты обычно содержали следующие права:<br>
      &emsp;&emsp;• право на вотчинную земельную собственность, право владения и пользования поместным имением;<br>
      &emsp;&emsp;• право призывать на свои земли вольных людей и крестьян из других княжеств, с освобождением
      переселенцев от государственных податей и повинностей на «урочные годы» (определенные в грамоте), при
      этом им запрещалось зазывать на свои земли людей своего князя, черных, тяглых, «письменных крестьян»
      (входящих в писцовые и переписные книги);<br>
      &emsp;&emsp;• полное или частичное освобождение от государственных податей, пошлин и повинностей всех лиц, которые получили грамоты;
      &emsp;&emsp;• полное или частичное освобождение обладателей грамот, их холопов и крестьян от суда и управления<br>
      княжеских чиновников, с запрещением «проверяющим» права въезда в имения с «охранной грамотой царя».<br>
      Жалованные грамоты Великого князя имели силу частного закона. Они подтверждались красной печатью с княжеским именем и гербом.<br>
      Кроме жалованных грамот в то время существовали еще уставные грамоты. Они были нескольких видов:<br>
      &emsp;&emsp;а) наместничьего управления;<br>
      &emsp;&emsp;б) губные;<br>
      &emsp;&emsp;в) земские.<br>
      Уставные грамоты наместничьего управления могли быть дарованы наместникам или волостелям. Они
      определяли юрисдикцию наместников и волостелей.
      Грамоты эти содержали не только права, но и обязанности должностных лиц, направленных в провинцию на службу царскую. Они устанавливали:<br>
      &emsp;&emsp;• размер и вид корма наместника, сроки и порядок сбора корма;<br>
      &emsp;&emsp;• запрещение незаконных действий, как самого наместника, так и его слуг;<br>
      &emsp;&emsp;• размеры судебных расходов и штрафов, взимаемых в пользу владельца грамоты, а также торговые и свадебные пошлины;<br>
      &emsp;&emsp;• право жалобы жителей на своего чиновника.<br>
      Губные грамоты (от слова «губа» — административно-территориальное образование, судебный округ)
      устанавливали основные принципы организации и деятельности губных учреждений. Губные грамоты
      существовали с 30-х гг. XVI в. до конца XVII в. и имели силу закона. Действие их в отличие от уставных
      грамот наместничьего управления распространялось на все население, включая служилые классы.<br>
      Содержание губных грамот включало:<br>
      &emsp;&emsp;• наименование учреждаемого грамотой органа;<br>
      &emsp;&emsp;• порядок избрания и назначения должностных лиц этого органа;<br>
      &emsp;&emsp;• состав губного учреждения;<br>
      &emsp;&emsp;• права и обязанности этого учреждения;<br>
      &emsp;&emsp;• нормы материального уголовного права.<br>
      Исходя из вышесказанного, можно сделать вывод, что к концу XVI столетия в России сложилась единая
      самобытная правовая система, отвечающая чаяниям феодального общества и историческим задачам
      русского государства того периода. Крупнейшим законодательным памятником XVII в. явилось Соборное
      уложение 1649 г., принятое Земским Собором. Непосредственным поводом для его принятия послужило
      вспыхнувшее в 1648 г. восстание посадских людей Москвы. Посадские обратились к царю с челобитной об
      улучшении своего положения и о защите от притеснений. В это же время свои требования царю предъявили
      дворяне, которые считали, что их во многом ущемляют бояре. Царь подавил восстание посадских, но все же
      был вынужден отложить взыскание недоимок, облегчить в некоторой мере положение посадских. В июле
      1648 г. он приказал начать разработку проекта нового закона под названием «Уложение». Подготовкой
      правовой реформы занималась специально созданная комиссия — Приказ князя Н. И. Одоевского. На
      совместном заседании Боярской думы и Освященного собора ей была поставлена задача: в состав Уложения
      включить важные статьи из указов прежних русских царей, из боярских приговоров, из законов греческих
      царей и даже из правил апостольских и святых отцов. Самым обширным источником нормативных
      правовых актов стали указанные книги различных приказов. Комиссия Н. И. Одоевского, в которую кроме
      руководителя входили еще два боярина, один окольничий и два дьяка, проделала огромную работу по
      подбору нормативных актов и их систематизации, обобщению судебной и административной практики,
      многочисленных царских указов (комиссии удалось найти 445 указов), уставных грамот, распоряжений
      приказов и ведомств. Результатом полугодовой работы стал документ, состоявший из 25 глав и 967 статей.
      Соборное уложение представляло собой свод феодального права. Оно дополняло и расширяло Судебник
      Ивана Грозного, разграничивало сферу государственной и церковной юрисдикции, кодифицировало
      правовые нормы. Оно было издано тиражом в 2400 экземпляров и служило настольной книгой для
      чиновников и судей того времени. По существу Уложение стало первым печатным законом в истории
      отечественного права. Главнейшая причина принятия Соборного Уложения заключалась в обострении
      классовой борьбы. Царь и верхушка господствующего класса, напуганные восстанием посадских,
      стремились в целях успокоения народных масс создать видимость облегчения положения тяглого
      посадского населения. На решение об изменении законодательства повлияли челобитные дворянства, в
      которых содержались требования об отмене урочных лет. Соборное Уложение 1649 г. — значительный шаг
      вперед по сравнению с предыдущим законодательством. В этом законе регулировались не отдельные
      группы общественных отношений, а все стороны общественно-политической жизни того времени. Текст
      Соборного Уложения был настолько юридически выверен, что попытки улучшить его во времена Петра I и
      Екатерины II не увенчались успехом. Уложение царя Алексея Михайловича представляет собой
      совокупность уголовного, гражданского, процессуального, административного, семейного и в какой-то мере
      государственного права XVII в. Гражданское право получило дальнейшее развитие в Соборном Уложении.
      К середине XVII в. получили юридическое закрепление сложившиеся ранее три основных вида феодального
      землевладения:<br>
      &emsp;&emsp;1) собственность государства или непосредственно царя (дворцовые земли, земли черных волостей);<br>
      &emsp;&emsp;2) вотчинное землевладение;<br>
      &emsp;&emsp;3) поместья.<br>
      Будучи условной собственностью на землю, вотчины имели все же иное правовое положение, чем поместья.
      Они передавались по наследству.<br>
      Существовало три вида вотчин:<br>
      &emsp;&emsp;• родовые;<br>
      &emsp;&emsp;• выслуженные (жалованные);<br>
      &emsp;&emsp;• купленные.<br>
      Законодатель заботился о том, чтобы количество родовых вотчин не уменьшалось. В связи с этим
      предусматривалось право выкупа проданных родовых вотчин. Поместья давались за службу, главным
      образом военную. Размер поместья определялся служебным положением лица. Поместье не могло
      передаваться по наследству. Феодал пользовался им до тех пор, пока служил. Различие в правовом
      положении между вотчинами и поместьями постепенно стиралась. Хотя поместье не передавалось по
      наследству, его мог получить сын, если он нес службу. Соборное Уложение установило, что, если помещик
      покинул службу по старости или болезни, его жена и малолетние дети могли получить часть поместья на
      «прожиток». Соборное Уложение 1649 г. разрешило производить обмен поместий на вотчины. Подобные
      сделки считались действительными при следующих условиях: стороны, заключая между собой меновую
      запись, обязывались предоставить ее в поместный приказ с челобитной на имя царя. Соборное Уложение
      1649 г. различало и регламентировало семь видов договорных обязательств: купли-продажи, мены, займа,
      найма, подряда, поклажи и залога. Соборное Уложение стремясь облегчить положение должников
      (особенно дворян), запретило взыскивать проценты по займу, считая, что таковой должен быть
      безвозмездным. Исковая давность по займу устанавливалась в 15 лет, частичная уплата долга прерывала
      течение давности. Несмотря на запрещения, взыскание процентов по договору займа фактически
      продолжалось. Однако эти взыскания не могли уже иметь правовой защиты в суде. Законодательство
      предусматривало порядок заключения договоров. Наиболее крупные сделки оформлялись крепостным
      порядком, при котором документ, удостоверяющий сделку, составлялся площадным подьячим при
      обязательном участии в этом не менее двух свидетелей. Менее крупные сделки могли оформляться
      домашним (простым) способом. Предусматривались способы обеспечения исполнения договора — залог и
      поручительство. Законодательство также уделяло внимание и обязательствам из причинения вреда.
      Устанавливалась ответственность за причинение вреда, вызванного потравами полей и лугов. Собственник
      скота, потравившего угодья, обязывался возместить убытки их владельцу. Задержанный при потраве скот
      подлежал возвращению собственнику в целости и сохранности. В Соборном Уложении 1649 г. вводился
      впервые институт сервитутов, т. е. юридическое ограничение прав собственности субъекта в интересах
      права пользования другого. В основном это касалось вотчинного землепользования. С введением сервитута,
      т. е. ограничений на землю, ее нельзя было продать, передать по наследству и т. д. Наследование
      осуществлялось, как прежде, по завещанию и по закону. Традиционно весьма разработанным являлось
      уголовное право. По существу Соборное Уложение считает преступлением деяния, опасные для
      феодального общества, именуя их «лихим делом», хотя общего абстрактного термина для обозначения
      преступления пока еще не существует. В Соборном Уложении 1649 г. нашла более четкое отражение
      классовая сущность преступлений. Это проявляется прежде всего в том, что за ряд деяний назначались
      различные наказания в зависимости от классовой принадлежности их совершивших. Соборное Уложение
      1649 г. содержало многочисленные нормы особенной части уголовного права. На первом месте
      законодатель поставил преступления против религии. Впервые в истории российского законодательства им
      посвящалась специальная глава. На втором месте стояли государственные преступления (государственная
      измена, посягательства на жизнь и здоровье царя, самозванство и др.). К тяжким деяниям относились особо
      опасные преступления против порядка управления (нарушение порядка на царском дворе,
      фальшивомонетничество, подделка царских печатей и др.). В законе имелись подробные описания
      различных составов преступлений — воинских, имущественных, против личности.<br>
      Соборное Уложение делило преступления на:<br>
      &emsp;&emsp;• умышленные;<br>
      &emsp;&emsp;• неосторожные;<br>
      &emsp;&emsp;• случайные.<br>
      К смягчающим вину обстоятельствам относились:<br>
      &emsp;&emsp;а) состояние опьянении;<br>
      &emsp;&emsp;б) неконтролируемость действий (по-современному — состояние аффекта);<br>
      К отягчающим вину обстоятельствам относились:<br>
      &emsp;&emsp;• повторность преступления (по-современному рецидив);<br>
      &emsp;&emsp;• размеры нанесенного вреда;<br>
      &emsp;&emsp;• особый статус субъекта;<br>
      &emsp;&emsp;• совокупность нескольких преступных деяний.<br>
      В Соборном Уложении 1649 г. выделялись даже стадии преступного деяния: умысел, покушение на
      преступление, совершение преступления. Убийства стали делиться на хитростные (умышленные) и
      бесхитростные. Причем бесхитростные (неумышленные, случайные убийства), совершенные «грешным
      делом», от наказания освобождались. Вместе с тем за умышленное членовредительство: отсечение носа,
      руки, ноги, выкалывание глаза и т. п. — кроме штрафа по суду полагалось нанесение обидчику такого же
      увечья. В юриспруденции это известно как принцип «талиона», а в народе — «око за око, зуб за зуб». В
      Соборном Уложении конкретизировалось понятие необходимой обороны. Законом допускалось убийство в
      порядке самообороны и защиты имущества, а также защиты хозяина и соседа. Причем закон не требовал,
      как и статьи Судебников, соразмерности средств обороны и нападения и считал правомерным убийство вора
      как в момент совершения им преступления, так и при его задержании во время погони. Соборное Уложение
      в целях охраны семьи и неприкосновенности личности женщины ужесточило наказание для насильников и
      пособников в совершении изнасилования. Но, как показала практика, к крепостным женщинам-крестьянкам,
      пострадавшим от городских дворян и помещиков, эта норма не применялась. Самыми распространенными
      видами наказания по Соборному Уложению 1649 г. были смертная казнь, тюремное заключение,
      конфискация имущества, телесные наказания, штрафы, отстранение от должности. Практиковались и
      публичные казни, применяемые для устрашения потенциальных преступников. Причем смертная казнь
      могла принимать различные формы, опять же в целях устрашения, а именно: четвертование, сожжение на
      костре, вливание через горло расплавленного металла, закапывание живьем в землю по горло и т. п.
      Последний вид наказания применялся в основном к женщинам, убившим своего мужа. Смерть наступала,
      как правило, через два-три дня. Болезненные виды наказания (битье кнутом и батогами — тонкими гибкими
      прутьями) Соборным Уложением предусматривались довольно часто — в 140 случаях. Тюремное
      заключение производилось по суду от трех дней до пожизненного заточения. Заключенные в тюрьму
      преступники кормились либо за счет родственников, либо на подаяние, которое им давали сердобольные
      граждане во время конвоирования по городу. Причем собранное подаяние делилось между всеми
      заключенными. Соборное Уложение предусматривало и конфискацию имущества преступника. Такое
      наказание применялось в отношении обвиненных в разбое, укрывательстве разбойников, дезертирстве, а
      также в нарушении правил продажи табака. Анализ мер наказания, их сравнение с предыдущим
      законодательством показывают, что меры уголовного воздействия за преступления становятся более
      жестокими, порой даже жестокими, например сожжение на костре, четвертование или закапывание в землю.
      Доля наказаний в виде штрафов значительно уменьшена. Видимо, законодатель преследовал цель
      устрашения преступников, чтобы впредь «другим не повадно было». Судебное (процессуальное) право
      дополнялось рядом важных норм и положений. В Уложении провозглашался принцип равного суда для всех
      чинов, защищались права личности, но с учетом ее сословного статуса. Отменялись вотчинные и церковные
      суды. Вместо них создается единая система государственного суда. Преступления против церкви стали
      относиться к юрисдикции светского суда. Государственный суд имел две инстанции. Высшим судом
      объявлялся царский суд. Царю также предоставлялось право определить, кому вершить суд в случае
      установления родственных связей или личной неприязни между судьей и представителями сторон —
      истцом и ответчиком. В целях обеспечения правосудия закон предписывал: «А судити их иному судии, кому
      государь укажет» (ст. 3 гл. X «О суде»). В качестве доказательств по делу кроме свидетельских показаний
      допускались письменные доказательства, целование креста, жребий. Ответчик мог быть подвергнут судом
      телесным наказаниям, а также пыткам. Пытка применялась когда свидетельские показания по делу
      расходились. Показания пытаемого протоколировались. Розыскной суд был предусмотрен по большинству
      преступлений против личности и имущества. Расследование начиналось как правило по письменным
      жалобам или доносам потерпевших. Стороне, выигравшей суд, выдавалась специальная грамота,
      подтверждавшая те или иные права. Уложение содержало комплекс норм, регулировавших важнейшие
      отрасли государственного управления, которые условно можно отнести к административному праву. Они
      регламентировали работу некоторых центральных органов управления (приказов) и местного
      самоуправления, режим въезда и выезда за границу. Как отмечалось ранее, Соборное Уложение
      окончательно юридически оформило крепостное право в России, узаконив потомственное прикрепление
      крестьян к земле, возможность продажи их с землей и осуществление феодалами-крепостниками
      внесудебной расправы над ними. Соборное Уложение 1649 г. можно отнести к успешной правовой реформе
      в России того времени. Оно сыграло важную роль в укреплении самодержавия, правовых основ
      государственной власти и управления, совершенствовании судебной власти, гражданско-правовых
      отношений. Соборное уложение расширило права среднего сословия — дворянства и посадского населения
      и одновременно ограничило права и привилегии боярства и церкви. Монастырский приказ, введенный
      Соборным Уложением, имел право привлекать к суду духовное сословие, управлять монастырскими
      землями. Правда, под давлением духовенства Монастырский приказ был ликвидирован в 1666 г., но был
      восстановлен при Петре I.
    </p>
  </main>

  <div id="toTop">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
      <g><path fill="#3F2319" d="M10,493.1c0-15,5.7-30.1,17.2-41.6L458.4,20.3c22.9-22.9,60.2-22.9,83.1,0l431.3,431.2c22.9,22.9,22.9,60.2,0,83.1c-22.9,22.9-60.2,22.9-83.1,0L500,145L110.5,534.7c-22.9,22.9-60.2,22.9-83.1,0C15.7,523.2,10,508.1,10,493.1L10,493.1L10,493.1L10,493.1z M10,938.1c0-15,5.7-30.1,17.2-41.6l431.2-431.2c22.9-22.9,60.2-22.9,83.1,0l431.2,431.2c22.9,22.9,22.9,60.2,0,83.1c-22.9,22.9-60.2,22.9-83.1,0L500,590L110.5,979.7c-22.9,22.9-60.2,22.9-83.1,0C15.7,968.3,10,953.3,10,938.1L10,938.1L10,938.1L10,938.1z"/></g>
    </svg>
  </div>

  <div th:insert="blocks/footer :: footer"></div>

</body>
</html>