<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Project</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="stylesheet" th:href="@{/css/1.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<script th:src="@{/js/main.js}"></script>

<img class="back" th:src="@{/image/background.jpg}">
<div th:insert="blocks/header :: header"></div>

<main id="main">
  <p class="name">ПРАВО СССР</p>
  <p>
    &emsp;&emsp;Одним из первых актов, принятых после Октябрьской революции 1917 года был Декрет о суде, принятый
    Советом народных комиссаров 22 ноября (5 декабря) 1917 года. Он упразднял существующую судебную
    систему, институты судебных следователей, прокурорского надзора, адвокатуры и устанавливал, что:
    Местные суды решают дела именем Российской Республики и руководятся в своих решениях и приговорах
    законами свергнутых правительств лишь постольку, поскольку таковые не отменены революцией и не
    противоречат революционной совести и революционному правосознанию. Созданные революционные
    трибуналы и народные суды выносили приговоры по уголовным делам как правило без ссылок на законы,
    руководствуясь лишь «революционным правосознанием». Что касается гражданского права, то политика
    «военного коммунизма» практически не нуждалась в нём. Однако с переходом к НЭПу потребовалось
    принятие Гражданского кодекса РСФСР 1922 года. В том же году был принят и первый советский
    Уголовный кодекс. Тем не менее, Л. Каганович говорил в 1929 году в Институте советского строительства:
    «Мы отвергаем понятие правового государства. Если человек, претендующий на звание марксиста, говорит
    всерьез о правовом государстве и тем более применяет понятие „правовое государство“  к Советскому
    государству, то это значит, что он отходит от марксистско-ленинского учения о государстве». Во время
    Большого террора 1937-38 годов не предусмотренные никаким законом тройки НКВД приговорили к
    расстрелу и заключению в лагеря ГУЛАГа сотни тысяч человек. В начале 1940 года НКВД СССР добился
    права полностью игнорировать оправдательные приговоры судов: «Лица, оправданные судом по делам о
    контрреволюционных преступлениях, – говорилось в соответствующем приказе наркома юстиции и
    прокурора СССР, – не подлежат немедленному освобождению судами из-под стражи, а должны
    направляться в те места заключения, откуда они были доставлены в суд <...> Освобождение из-под стражи
    указанных выше лиц возможно лишь по получении от органов НКВД сообщения об отсутствии к тому
    каких-либо препятствий с их стороны». После смерти Сталина в период «хрущёвской оттепели» было
    провозглашено возвращение к нормам «социалистической законности». Прекратилась практика вынесения
    приговоров внесудебными органами, Уголовный кодекс РСФСР 1960 года уменьшил максимальный срок
    лишения свободы с 25 до 15 лет (20 лет при замене смертной казни). Был принят также новый Гражданский
    кодекс РСФСР 1964 года. Однако кадровый подбор судей оставался всецело в ведении органов КПСС, что
    позволяло им воздействовать на них. В период Перестройки в качестве цели было провозглашено
    построение в СССР правового государства. В 1987 году был принят закон о порядке обжалования в суд
    действий должностных лиц. В 1989 году был создан Комитет конституционного надзора СССР.  Советский
    период российской истории представлен достаточно длительным и максимально динамичным отрезком
    новейшего времени, что делает его особенно важным для выявления на его этапе основных этапов
    конституционных трансформаций в рамках социально-экономической системы социализма. За время,
    прошедшее от первых лет становления Советской власти до ее падения, Россия сменила четыре
    Конституции (1918, 1925, 1937, 1978 гг.), что оказало существенное влияние на принципы административно-
    территориального устройства государства, структуру и конституционно-правовой статус высших органов
    государственной власти, политическую сферу общества: строительство коммунизма и последующее
    признание несостоятельности всей социалистической модели государственного устройства; введение и
    отмена однопартийной политической системы, реформирование избирательного процесса. Годы правления
    Советов до сих пор не находят в своей оценке единого научного подхода, что продиктовано прежде всего
    влиянием мощных противоборствующих политических сил как в России, так и на всем постсоветском
    пространстве. В октябре 1917 г. было объявлено о введении диктатуры пролетариата. При этом диктатура
    означает власть, опирающуюся на насилие, не ограниченную и не стесненную никакими законами и
    правилами. В годы «военного коммунизма» право было подчинено так называемому революционному
    правосознанию. Ставилась задача разрушения старого государства, семьи, частной собственности, церкви,
    традиционного образа жизни и культуры, денежной системы. К концу 1918 г. был введен принудительный
    перевод из одной организации в другую, закрылись оппозиционные газеты. К 1922 г. были ликвидированы
    остатки многопартийности. Власть сосредоточилась в руках одной партии, говоря точнее — в ее
    руководящих органах, в аппарате. В начале 1920-х гг. в условиях НЭПа были приняты первые советские
    кодексы — уголовный, гражданский и др. В 1932 г. было принято постановление Центрального
    исполнительного комитета и Совета народных комиссаров СССР «Об охране имущества государственных
    предприятий, колхозов и коопераций и укреплении общественной (социалистической) собственности»
    («Закон о пяти колосках»). В нем отмечено, что в условиях хищения грузов на железнодорожном транспорте
    и хищения кооперативного и колхозного имущества, организованного антиобщественными элементами,
    старающимися расшатать государственный строй, в качестве меры судебной репрессии за данные деяния
    предлагалось применять высшую меру социальной защиты — расстрел с конфискацией всего имущества и с
    заменой при смягчающих обстоятельствах лишением свободы на срок не ниже десяти лет с конфискацией
    имущества. Конституция СССР 1937 г. провозгласила многие гражданские и политические права: право на
    объединение, на участие в политической жизни, на свободу совести, убеждений. Более демократический
    характер этой конституции (в сравнении с конституцией 1924 г.) был вызван желанием привлечь к
    Советскому Союзу симпатии международной общественности для совместного противостояния
    набиравшему силу фашизму. Одно из центральных мест в системе гражданско-правовых отношений в
    период Великой Отечественной войны занимал институт собственности, который за годы Великой
    Отечественной войны не претерпел существенных изменений, однако некоторые положения в данной сфере
    потребовали в это критическое для государства время развития и совершенствования. Советский период
    российской истории представлен достаточно длительным и максимально динамичным отрезком новейшего
    времени, что делает его особенно важным для выявления на его этапе основных этапов конституционных
    трансформаций в рамках социально-экономической системы социализма. За время, прошедшее от первых
    лет становления Советской власти до ее падения, Россия сменила четыре Конституции (1918, 1925, 1937,
    1978 гг.), что оказало существенное влияние на принципы административно-территориального устройства
    государства, структуру и конституционно-правовой статус высших органов государственной власти,
    политическую сферу общества: строительство коммунизма и последующее признание несостоятельности
    всей социалистической модели государственного устройства; введение и отмена однопартийной
    политической системы, реформирование избирательного процесса. Годы правления Советов до сих пор не
    находят в своей оценке единого научного подхода, что продиктовано прежде всего влиянием мощных
    противоборствующих политических сил как в России, так и на всем постсоветском пространстве. В октябре
    1917 г. было объявлено о введении диктатуры пролетариата. При этом диктатура означает власть,
    опирающуюся на насилие, не ограниченную и не стесненную никакими законами и правилами. В годы
    «военного коммунизма» право было подчинено так называемому революционному правосознанию.
    Ставилась задача разрушения старого государства, семьи, частной собственности, церкви, традиционного
    образа жизни и культуры, денежной системы. К концу 1918 г. был введен принудительный перевод из одной
    организации в другую, закрылись оппозиционные газеты. К 1922 г. были ликвидированы остатки
    многопартийности. Власть сосредоточилась в руках одной партии, говоря точнее — в ее руководящих
    органах, в аппарате. В начале 1920-х гг. в условиях НЭПа были приняты первые советские кодексы —
    уголовный, гражданский и др. В 1932 г. было принято постановление Центрального исполнительного
    комитета и Совета народных комиссаров СССР «Об охране имущества государственных предприятий,
    колхозов и коопераций и укреплении общественной (социалистической) собственности» («Закон о пяти
    колосках»). В нем отмечено, что в условиях хищения грузов на железнодорожном транспорте и хищения
    кооперативного и колхозного имущества, организованного антиобщественными элементами, старающимися
    расшатать государственный строй, в качестве меры судебной репрессии за данные деяния предлагалось
    применять высшую меру социальной защиты — расстрел с конфискацией всего имущества и с заменой при
    смягчающих обстоятельствах лишением свободы на срок не ниже десяти лет с конфискацией имущества.
    Конституция СССР 1937 г. провозгласила многие гражданские и политические права: право на объединение,
    на участие в политической жизни, на свободу совести, убеждений. Более демократический характер этой
    конституции (в сравнении с конституцией 1924 г.) был вызван желанием привлечь к Советскому Союзу
    симпатии международной общественности для совместного противостояния набиравшему силу фашизму.
    Одно из центральных мест в системе гражданско-правовых отношений в период Великой Отечественной
    войны занимал институт собственности, который за годы Великой Отечественной войны не претерпел
    существенных изменений, однако некоторые положения в данной сфере потребовали в это критическое для
    государства время развития и совершенствования. Достаточно остро встал вопрос о защите права
    собственности, так как в ходе военных событий имущество многих лиц временно вышло из их обладания.
    При этом освобождение оккупированных гитлеровскими войсками территорий и возвращение граждан на
    места своего проживания дали им возможность разыскивать и возвращать свое имущество. В силу этих
    обстоятельств одной из наиболее распространенных категорий гражданских дел в судах стали споры о
    возврате имущества. Особое место в годы Великой Отечественной войны стали занимать вопросы
    организации снабжения Советской Армии, в связи с чем потребовалось создать необходимую правовую
    основу для отношений по производству и приобретению необходимого для Вооруженных Сил имущества.
    При этом экономические достижения страны в области военного снабжения в годы войны были не
    меньшими, чем военные достижения. Государственная собственность на орудия и средства производства в
    соединении с существовавшей системой хозяйства позволила СССР получать необходимые для войны
    ресурсы в том же порядке и на той же правовой базе, что и в мирное время. В годы войны значение
    государственной собственности еще более возросло. Одним из основных юридических принципов
    построения государственной собственности являлся принцип единства государственной собственности.
    Несмотря на то, что отдельные объекты государственной собственности и целые имущественные комплексы
    находились в управлении отдельных государственных органов, последние не являлись собственниками
    вверенного им имущества. Субъектом права государственной собственности являлось государство.
    Необходимость укрепления обороноспособности страны в годы войны потребовала перестройки системы
    управления промышленностью, а значит, и обеспечения стабильности в вопросах управления и
    распоряжения предоставленным государственным предприятиям имуществом. Для довоенного периода был
    характерен принцип министерского управления имуществом государственных предприятий, в
    исключительных случаях распоряжение им осуществлялось постановлением Правительства. В
    определенных пределах управление имуществом предприятия осуществлялось его директором. Основу
    законодательства о семье и браке в период Великой Отечественной войны составлял Кодекс законов о
    браке, семье и опеке, принятый в 1926 г. Данный нормативный акт был направлен на обеспечение реального
    равноправия жены с мужем и защиту в семье слабейшей стороны, охрану фактических брачных отношений,
    материнства и детства, установление общности имущества, нажитого во время брака. В годы войны в
    законодательстве четко прослеживается отрицательное отношение к ограничению деторождения,
    подчеркиваются обязанности женщины по рождению и воспитанию детей. После войны государству и
    обществу было необходимо решить сложную задачу — восстановить разрушенную экономику. По
    окончании войны были упразднены чрезвычайные и другие органы, вызванные потребностями военного
    времени (в то же время в системе Народного комиссариата внутренних дел продолжали действовать
    неконституционные структуры, которые «приговаривали» тысячи невиновных людей к самым суровым
    мерам, вплоть до расстрела). В 1946 г. произошли дальнейшие изменения в высших органах управления
    СССР, союзных и автономных республик. В марте этого года Верховный Совет СССР принял закон о
    преобразовании Совета Народных Комиссаров СССР, совнаркомов союзных и автономных республик в
    соответствующие Советы Министров, а наркоматов — в министерства. Поиски лучшей организации
    управления народным хозяйством привели к разукрупнению ведомств, созданию новых отраслевых органов.
    В области управления промышленностью отраслевой принцип в 1957 г. был заменен территориальным,
    были созданы экономические административные районы, управленческими органами в которых стали
    советы народного хозяйства (совнархозы). Однако тенденция к децентрализации управления не смогла
    развиться, в ноябре 1962 г. число совнархозов было сокращено, в марте 1963 г. централизованная система
    управления вновь воссоздается: образуется Высший совет народного хозяйства, вставший над всей системой
    органов управления экономикой (включая Госплан, Госстрой и другие комитеты, заменившие в 1957 г.
    упраздненные министерства). Партийно-советская система управления, трансформированная в военных
    условиях, после войны приобретает новые черты и вырабатывает новые механизмы. Существует монополия
    власти на информацию, полный контроль над СМИ, идейные оппоненты рассматриваются как политические
    враги. Мораль подчиняется политической целесообразности. Практикуется масштабный государственный
    террор, используемый для достижения социального единообразия и единомыслия, а также как средство
    управления и контроля. В результате применения чрезвычайных мер в стране фактически были задушены
    все ростки политической оппозиции — не только реальные, но и потенциальные. Традиционно в качестве
    начала перестроечного периода принято считать 1985 г., когда апрельский Пленум ЦК КПСС положил
    начало новому этапу социалистического развития, нацеленного на качественное обновление советского
    общества, обозначенного как «перестройка». Трансформация конституционных основ государственного
    устройства и гражданского общества в 1980-е гг. проходила в условиях относительно недавно принятой
    Конституции «развитого социализма» 1977 г. Данная Конституция Союза ССР устанавливала
    исключительную монополию правящей политической партии на всю государственную власть, устанавливая
    ее идеологию единственно верной (руководящая и направляющая сила советского общества). Конституция
    СССР констатировала высокие достижения советского общества в построении социалистического строя.
    Провозглашались в Конституции 1977 г. такие принципы, как приоритет государственной собственности,
    борьба с нетрудовыми доходами. Государственная власть в соответствии с Конституцией СССР строилась в
    соответствии с принципом демократического централизма: выборностью всех органов государственной
    власти снизу доверху, подотчетностью их народу, обязательностью решений вышестоящих органов для
    нижестоящих. Демократический централизм сочетал единое руководство с инициативой и творческой
    активностью на местах, с ответственностью каждого государственного органа и должностного лица за
    порученное дело. Важно отметить, что принятие Конституции «развитого социализма» пришлось на период
    расцвета социально-политической стабильности в СССР, после окончания войны. При этом рост
    благосостояния среднего класса привел к повышению запросов гражданского общества, вышедшего на
    новый уровень развития. Чрезмерная монополизация государственной власти и политической идеологии на
    таком фоне не могла не вызывать негативного восприятия рядом представителей народных масс. Всякие
    идеи о необходимости модернизации общественно-государственного строя, несмотря на отвержение
    высшей государственной элитой, получали широкий отклик в кругах общественности, представителей
    науки, культуры. Все это, бесспорно, заставляло правящую верхушку КПСС задумываться над
    необходимостью хотя бы «косметического» пересмотра и преобразования политического курса СССР.
    Этим, прежде всего, и были обусловлены конституционные реформы, происходившие в Советском Союзе,
    начиная с 1985 г. К числу дополнительных предпосылок реформ 1980-х гг. можно отнести проникновение
    «теневой экономики» во все сферы экономической жизни государства, радикальные рыночные
    преобразования в Венгрии, возрождения «диссидентских» и неформальных движений на фоне гласности,
    открывшей доступ к ранее закрытой информации. К числу внешнеполитических детерминирующих
    факторов, связанных с «ускорением» реформ в СССР, относится принятие Генеральной Ассамблеей
    Организации Объединенных Наций ряда актов в сфере прав человека, которые СССР вынужден был
    ратифицировать. Помимо общеизвестных международных пактов о гражданских и политических правах,
    ратифицированных СССР, не меньшую роль сыграло подписание СССР в 1975 г. Заключительного акта
    СБСЕ, вошедшего в историю как Хельсинкское соглашение. Несмотря на то что подписание данного
    соглашения не смогло оказать существенного влияния на советскую правовую систему, провозглашение
    СССР на международном уровне незыблемости общепризнанных демократических основ и принципов
    общечеловеческих свобод дало советской либеральной общественности формальную международную
    поддержку. Следующая поправка в Конституцию «развитого социализма», внесенная Законом СССР в 1988
    г., на фоне уже «созревшей» перестроечной мысли ввела принципиальное новшество, касающееся
    деятельности Советов народных депутатов, которые получили полномочия представительной власти. Это
    подчеркнуло не только их природу как органов власти народа, но и то, что социальной основой данной
    власти является весь советский народ, состоящий из дружественных слоев — рабочих, крестьян и
    интеллигенции. Вместе с этим данная конституционная реформа затронула и совершенствование
    избирательной системы, структуры и деятельности Советов народных депутатов и органов правосудия,
    способствовала развитию самоуправления народа. Конституционная реформа 1988 г. стала реальным и
    существенным шагом вперед на пути обновления политического курса, поскольку на данном этапе
    сложились принципы избирательной системы, приблизившиеся к международным стандартам. Введены два
    вида избирательных систем, одномандатные и многомандатные избирательные округа, определялась единая
    норма представительства, что позволяло говорить о реальном принципе равного избирательного права.
    Также устанавливались гарантии неприкосновенности кандидатов. Впервые в советской истории
    закреплялся принцип разделения властей. На ранних этапах становления советской системы принцип
    разделения властей, сформулированный представителями западноевропейской школы права Д. Локком и Ш.
    Л. Монтескье, отвергался как чуждый и неприемлемый. Были введены: альтернативность выборов, право
    выдвижения кандидатов в народные депутаты по избирательным округам было предоставлено трудовым
    коллективам, общественным организациям, коллективам средних специальных и высших учебных
    заведений, собраниям избирателей по месту жительства и военнослужащих по воинским частям. В РСФСР
    порядок осуществления гражданами Советской России активных избирательных прав при избрании
    народных депутатов конкретизировался в Законе РСФСР «О выборах народных депутатов РСФСР» 1989 г.
    Появилась возможность выносить важнейшие вопросы союзного, республиканского и местного значения на
    референдумы. По своей конституционно-правовой природе референдум является высшей формой
    выражения власти народа, которому принадлежала власть. Установление впервые в советской истории
    института референдума свидетельствовало о постепенном переходе от формальной представительной к
    прямой демократии. Съезд народных депутатов стал высшим органом государственной власти СССР и был
    правомочен принять к своему рассмотрению и решить любой вопрос, отнесенный к ведению Союза ССР.
    Выборы президента СССР осуществлялись на основе принципов всеобщности, равенства, прямого
    избирательного права, тайны голосования, альтернативности, установления на конституционном уровне
    минимального порога явки. Становление демократических основ конституционного строя, появление
    реальной свободы мнений, политической и идеологической конкуренции, альтернативности выборов стоили
    России распада СССР, ослабления геополитической позиции нашей страны, краха экономики и расцвета
    преступности в 1990-е гг. Вместе с этим положительные стороны реформирования государственного строя
    нашли свое отражение в принятой в 1993 г. Конституции Российской Федерации.
  </p>
</main>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>