<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Project</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="stylesheet" th:href="@{/css/text.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
  <script th:src="@{/js/text.js}"></script>

  <img class="back" th:src="@{/image/background.jpg}">
  <div th:insert="blocks/header :: header"></div>

  <main id="main">
    <p class="name">ПРАВО РОССИЙСКОЙ ФЕДЕРАЦИИ</p>
    <p id="text">
      &emsp;&emsp;Во второй половине 1980-х — первой половине 1990-х годов в Российской Советской Федеративной
      Социалистической Республике началось построение новой правовой системы. В годы перестройки через
      многочисленные поправки к Конституции РСФСР 1978 года было осуществлено признание политического
      плюрализма и многопартийности, принципа разделения властей, частной собственности и свободы
      предпринимательства. 12 июня 1990 года была принята Декларация о государственном суверенитете
      РСФСР, а 22 ноября 1991 года — Декларация прав и свобод человека и гражданина.<br>
      &emsp;&emsp;С распадом СССР в 1991 году было связано окончательное установление современного суверенного
      российского государства. Уже в 1992—93 годах были проведены важные реформы уголовно-
      процессуального права. Закон от 23 мая 1992 года допустил защитника к подозреваемому с момента
      задержания и к обвиняемому с момента предъявления обвинения, а также предусмотрел право лица,
      заключенного под стражу в качестве меры пресечения обжаловать в суд законность и обоснованность
      данного решения, создав основы судебного контроля в стадии предварительного расследования. Закон от 16
      июля 1993 года возродил в России суд присяжных, вначале только в нескольких субъектах Российской
      Федерации (в качестве эксперимента).<br>
      &emsp;&emsp;12 декабря 1993 года всенародным голосованием была принята новая Конституция Российской Федерации.
      Термин «всенародное голосование» (а не «референдум») был использован для того, чтобы обойти
      положение действовавшего Закона о референдуме РСФСР, согласно которому Конституция может быть
      изменена лишь большинством голосов от общего числа избирателей страны. Конституция Российской
      Федерации 1993 года вступила в силу в день её опубликования в «Российской газете» — 25 декабря 1993
      года. Отличия от Конституции 1978 года:<br>
      &emsp;&emsp;Ликвидирована система Советов;<br>
      &emsp;&emsp;Россия стала симметричной федерацией; в 1918—1993 гг. субъектами Российской Федерации (РСФСР)
      были только национальные образования.<br>
      &emsp;&emsp;Срок полномочий Президента России сокращён с 5 до 4 лет (в 2008 году увеличен до 6 лет);<br>
      Ликвидирован верхний предел возраста кандидата в Президенты России; (в 1991—1993 гг. составлял 65
      лет);<br>
      &emsp;&emsp;Образовано Федеральное Собрание Российской Федерации;<br>
      &emsp;&emsp;Изменён текст Присяги Президента Российской Федерации;<br>
      &emsp;&emsp;Переименован ряд субъектов Российской Федерации (в 1996—2003 гг. дополнительно переименованы 5
      субъектов РФ). В 1994 и 1996 годах были приняты первая и вторая части Гражданского кодекса Российской
      Федерации. Этот важнейший правовой документ содержит свод норм, определяющих правовое положение
      граждан. Принятый в 1997 году Уголовный кодекс Российской Федерации сменил Уголовный кодекс
      РСФСР 1960 года. Среди наиболее существенных изменений можно назвать достаточно полное отражение в
      нём новых экономических и политических реалий российского общества, переход к приоритетной защите
      прав и свобод человека, а не интересов государства, усиление ответственности за наиболее тяжкие
      преступления и снижение ответственности за преступления небольшой тяжести, совершённые впервые,
      новые основания освобождения от уголовной ответственности и другие нововведения, призванные усилить
      профилактический потенциал уголовного закона. Значительно изменена была Особенная часть: введено
      около 70 новых составов преступлений, декриминализовано более 80 составов, ранее предусматривавшихся
      УК РФ; в диспозиции и санкции практически всех статей, которые перешли из УК РСФСР в УК РФ, были
      внесены изменения. Процесс формирования современной российской правовой системы начался еще в
      период перестройки. Его характеризовали две основные тенденции. Первая заключалась в необходимости
      подготовки законодательных актов, обеспечивавших правовое регулирование новых общественных
      отношений, возникших в связи с кардинальными изменениями экономического и политического строя.
      Вторая тенденция была обусловлена необходимостью кодификация российского законодательства, в
      котором до середины 1990-х гг. действовали некоторые нормативные акты бывшего СССР и Российской
      Федерации, которые нередко содержали противоречия. В 1990-е гг. изменения затронули практически все
      отрасли российского права. В этот период активно развивались конституционное, гражданское, трудовое и
      административное законодательство. Это было вызвано необходимостью обеспечить правовое
      регулирование развития рыночных отношений, деятельности высших органов государственной власти,
      статуса субъектов Федерации и органов местного самоуправления, прав и свобод граждан и т.д. В связи с
      тем, что современное отечественное право подробно изучается в курсах, посвященных отдельным отраслям
      права, мы лишь кратко охарактеризуем некоторые из них. Гражданское право. На первом этапе в
      суверенной России гражданско-правовые отношения регулировались следующими законодательными
      актами, принятыми еще в советский период: законом «О собственности в РСФСР» от 24 декабря 1990 г.,
      законом «О предприятиях и предпринимательской деятельности» от 25 декабря 1990 г., законом «О
      приватизации жилого фонда в Российской Федерации» от 4 июля 1991 г. и др. 30 ноября 1994 г. была
      утверждена первая часть Гражданского кодекса Российской Федерации, которая положила начало третьей
      кодификации гражданского права в России. В первой части ГК РФ устанавливались основные принципы
      частного права и определялся правовой статус физических и юридических лиц. Кроме того, в ней
      регулировалось право собственности и иные вещные права, а также была представлена общая часть
      обязательственного права. Во второй части ГК РФ, принятой 26 января 1996 г., главное внимание уделялось
      способам возникновения обязательств. Это касалось договоров, а также внедоговорных способов
      возникновения обязательств, к которым относятся, прежде всего причинение вреда (деликт) и
      неосновательное обогащение. К специфическому виду возникновения обязательств был отнесен публичный
      конкурс. 26 ноября 2001 г. была утверждена третья часть ГК РФ, в которой регулировались вопросы
      наследственного и международного частного права. 18 декабря 2006 г. была принята четвертая часть ГК РФ,
      в которой вместо термина «интеллектуальная собственность» применяется понятие «право на результаты
      интеллектуальной деятельности». Это вызвало большие споры у юристов. Семейное право. 29 декабря 1995
      г. был принят Семейный кодекс Российской Федерации, в котором подчеркивалось, что семейное
      законодательство находится в совместном ведении федерального центра и субъектов Федерации. Это
      положение способствует учету в семейной политике государства национальных и местных особенностей. В
      Семейном кодексе нашли отражение принципы добровольности союза мужчины и женщины, равенства прав
      супругов в семье, разрешения споров в семье по взаимному согласию, а также защиты прав детей и
      нетрудоспособных членов семьи. Семейный кодекс устанавливал единый возраст в 18 лет для мужчин и
      женщин, не имевших препятствий к вступлению в брак. В нем указывается, что выявление у одного из
      супругов сокрытой венерической болезни или ВИЧ-инфекции может являться основанием для признания
      брака недействительным. Кодекс предусматривает внесудебный порядок расторжения брака в органах ЗАГС
      при взаимном согласии и отсутствии несовершеннолетних детей. Брак может быть расторгнут также по
      заявлению одного из супругов в случае признания судом недееспособным, безвестно отсутствующим или
      осужденным на срок более 3 лет. В Семейном кодексе уделяется большое внимание вопросам воспитания и
      образования детей, установления отцовства и имущественных отношений супругов. Трудовое право. 30
      декабря 2001 г. был принят Трудовой кодекс Российской Федерации, в котором главной задачей
      провозглашалось создание правовых условий для достижения оптимального согласования интересов сторон
      трудовых отношений. В Кодексе определяется система источников трудового права и их соотношение,
      вводится новое понятие «трудовое правоотношение», а также указываются основания его возникновения и
      прекращения. Более четко сформулированы нормы, обеспечивающие защиту трудовых прав работников и
      введение дополнительных отпусков. В нормах Трудового кодекса предусматриваются меры защиты прав
      работников и ответственности работодателей в случаях задержки выплаты заработной платы, а также
      компенсации морального вреда, причиненного неправомерным действием или бездействием работодателя.
      Кроме того, устанавливается ответственность работников за разглашение сведений, составляющих
      государственную тайну. Уголовное право. 13 июня 1996 г. был принят Уголовный кодекс Российской
      Федерации (УК РФ), в соответствии с которым главной задачей являлась охрана прав и свобод человека и
      гражданина, собственности, общественного порядка и общественной безопасности, окружающей среды,
      конституционного строя Российской Федерации, а также предупреждение преступлений. В УК РФ
      устанавливаются основания и принципы уголовной ответственности, определяется какие деяния признаются
      преступлениями и указываются виды наказаний, а также иные меры за совершение преступлений. В статье
      32 УК устанавливается норма об умышленном характере соучастия в преступлении. 8 декабря 2003 г. был
      утвержден закон «О внесении изменений и дополнений в Уголовный кодекс Российской Федерации»,
      согласного которому из УК РФ исключался институт неоднократности преступлений. Вместо термина
      «неоднократность» законодатель предложил использовать термин «совокупность», что допускало
      возможность сложения наказаний и в целом увеличивало срок наказания. 29 февраля 2012 г. были также
      внесены изменения и дополнения в УК РФ, в соответствии с которыми усиливалась ответственность за
      преступления сексуального характера, совершенные в отношении несовершеннолетних и вводилась
      ответственность за использование несовершеннолетних для изготовления порнографических материалов.
    </p>
  </main>

  <div id="toTop">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
      <g><path fill="#3F2319" d="M10,493.1c0-15,5.7-30.1,17.2-41.6L458.4,20.3c22.9-22.9,60.2-22.9,83.1,0l431.3,431.2c22.9,22.9,22.9,60.2,0,83.1c-22.9,22.9-60.2,22.9-83.1,0L500,145L110.5,534.7c-22.9,22.9-60.2,22.9-83.1,0C15.7,523.2,10,508.1,10,493.1L10,493.1L10,493.1L10,493.1z M10,938.1c0-15,5.7-30.1,17.2-41.6l431.2-431.2c22.9-22.9,60.2-22.9,83.1,0l431.2,431.2c22.9,22.9,22.9,60.2,0,83.1c-22.9,22.9-60.2,22.9-83.1,0L500,590L110.5,979.7c-22.9,22.9-60.2,22.9-83.1,0C15.7,968.3,10,953.3,10,938.1L10,938.1L10,938.1L10,938.1z"/></g>
    </svg>
  </div>

  <div th:insert="blocks/footer :: footer"></div>

</body>
</html>