<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
    <script th:src="@{/js/text.js}"></script>

    <img class="back" th:src="@{/image/background.jpg}">
    <div th:insert="blocks/header :: header"></div>

    <main id="main">
        <a href="/1" class="card">
            <img th:src="@{/image/1CardImg.png}">
            <div class="desc">
                <p>ПРАВО ДРЕВНЕЙ РУСИ</p>
            </div>
        </a>
        <a href="/2" class="card">
            <img th:src="@{/image/2CardImg.png}">
            <div class="desc">
                <p>ПРАВО ВО ВРЕМЕНА ТАТАРО-МОНГОЛЬСКОГО ИГА</p>
            </div>
        </a>
        <a href="/3" class="card">
            <img th:src="@{/image/3CardImg.png}">
            <div class="desc">
                <p>ПРАВО В РУССКОМ ЦАРСТВЕ</p>
            </div>
        </a>
        <a href="/4" class="card">
            <img th:src="@{/image/4CardImg.png}">
            <div class="desc">
                <p>ПРАВО РОССИЙСКОЙ ИМПЕРИИ И ВРЕМЕННОГО ПРАВИТЕЛЬСТВА</p>
            </div>
        </a>
        <a href="/5" class="card">
            <img th:src="@{/image/5CardImg.png}">
            <div class="desc">
                <p>ПРАВО СССР</p>
            </div>
        </a>
        <a href="/6" class="card">
            <img th:src="@{/image/6CardImg.png}">
            <div class="desc">
                <p>ПРАВО РОССИЙСКОЙ ФЕДЕРАЦИИ</p>
            </div>
        </a>
    </main>

    <div th:insert="blocks/footer :: footer"></div>

</body>
</html>