<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/tests.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
<script th:src="@{/js/text.js}"></script>
<!--<script th:src="@{/js/register.js}"></script>-->

<img class="back" th:src="@{/image/background.jpg}">
<div th:insert="blocks/header :: header"></div>

<main id="main">
    <a href="/test" class="card">
        <div class="desc">
            <p>ТЕСТ ПО ТЕМЕ:<br>"ПРАВО ДРЕВНЕЙ РУСИ"</p>
        </div>
    </a>
    <a href="/2" class="card">
        <div class="desc">
            <p>ТЕСТ ПО ТЕМЕ:<br>"ПРАВО ВО ВРЕМЕНА ТАТАРО-МОНГОЛЬСКОГО ИГА"</p>
        </div>
    </a>
    <a href="/3" class="card">
        <div class="desc">
            <p>ТЕСТ ПО ТЕМЕ:<br>"ПРАВО В РУССКОМ ЦАРСТВЕ"</p>
        </div>
    </a>
    <a href="/4" class="card">
        <div class="desc">
            <p>ТЕСТ ПО ТЕМЕ:<br>"ПРАВО РОССИЙСКОЙ ИМПЕРИИ И ВРЕМЕННОГО ПРАВИТЕЛЬСТВА"</p>
        </div>
    </a>
    <a href="/5" class="card">
        <div class="desc">
            <p>ТЕСТ ПО ТЕМЕ:<br>"ПРАВО СССР"</p>
        </div>
    </a>
    <a href="/6" class="card">
        <div class="desc">
            <p>ТЕСТ ПО ТЕМЕ:<br>"ПРАВО РОССИЙСКОЙ ФЕДЕРАЦИИ"</p>
        </div>
    </a>
</main>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>