<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <link rel="stylesheet" th:href="@{/css/test.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>

  <img class="back" th:src="@{/image/background.jpg}">
  <div th:insert="blocks/header :: header"></div>

  <p id="quest">Сам вопрос</p>

  <main id="main">
    <!--<button onclick="check(0)">1</button>
    <button onclick="check(1)">2</button>
    <button onclick="check(2)">4</button>
    <button onclick="check(3)">3</button>-->
  </main>

  <p id="score"></p>

  <div th:insert="blocks/footer :: footer"></div>

  <script th:src="@{/js/text.js}"></script>
  <script th:src="@{/js/test.js}"></script>
</body>
</html>