<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/test.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
    <script th:src="@{/js/text.js}"></script>

    <img class="back" th:src="@{/image/background.jpg}">

    <div class="wrapper">
        <div th:insert="blocks/header :: header"></div>
        <div class="content">

            <p id="quest" style="text-align: center;">Сам вопрос</p>

            <div id="main">
                <button id="btn1" onclick="Check(0)">1</button>
                <button id="btn2" onclick="Check(1)">2</button>
                <button id="btn3" onclick="Check(2)">4</button>
                <button id="btn4" onclick="Check(3)">3</button>

                <form id="form" class="formDiv hide" action="/newResult" method="post">
                    <input style="display: none" id="result" name="result">
                    <input style="display: none" id="test" name="test" th:value="${id}">
                    <input type="text" onkeyup="CheckValid();" placeholder="Имя" id="name" name="name">
                    <input type="text" onkeyup="CheckValid();" placeholder="Фамилия" id="surname" name="surname">
                    <button id="post" onclick="Post()" type="submit" class="disabled" disabled>Сохранить ответы</button>
                </form>
            </div>

            <p id="score"></p>

        </div>
        <div th:insert="blocks/footer :: footer"></div>
    </div>

    <script th:src="@{/js/test.js}"></script>

</body>
</html>